.np-cell {
  --np-cell-color-hover: rgb(243 243 245);
  --np-cell-value-color: rgb(114 113 123);
  --np-cell-font-size: 14px;
  --np-cell-padding-x: 12px;
  --np-cell-padding-y: 6px;
  --np-cell-radius: 4px;
  --np-cell-control-gap: 6px;
  --np-cell-left-gap: 0px;
  --np-cell-right-gap: 4px;
  --np-cell-border-color: rgb(239 239 245);

  padding: 0 var(--np-cell-padding-x);
  font-size: var(--np-cell-font-size);
  user-select: none;
  border-radius: var(--np-cell-radius);
  transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);

  .dark &,
  html[theme-mode='dark'] & {
    --np-cell-color-hover: rgb(255 255 255 / 9%);
    --np-cell-value-color: rgb(160 160 170);
    --np-cell-border-color: rgb(255 255 255 / 9%);
  }

  &__small {
    --np-cell-padding-x: 8px;
    --np-cell-padding-y: 4px;
  }

  &__large {
    --np-cell-padding-y: 8px;
    --np-cell-font-size: 16px;
    --np-cell-radius: 4px;
    --np-cell-control-gap: 8px;
    --np-cell-left-gap: 4px;
    --np-cell-right-gap: 4px;
  }

  &__hover:hover {
    background-color: var(--np-cell-color-hover);
  }

  &__content {
    display: grid;
    grid-template-columns: auto minmax(0, 1fr);
    align-items: center;

    &-border::after {
      grid-row: 3;
      grid-column: 2;
      content: '';
      border-bottom: solid 1px var(--np-cell-border-color);
    }
  }

  &__control {
    display: flex;
    flex-direction: row;
    grid-row: 1;
    grid-column: 1;
    gap: var(--np-cell-control-gap);
    align-items: center;
    padding-right: var(--np-cell-control-gap);
  }

  &__wrapper {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    grid-row: 1;
    grid-column: 2;
    align-items: center;
    justify-content: space-between;
    min-width: 0;
    padding: var(--np-cell-padding-y) 0;
  }

  &__left {
    display: flex;
    flex-direction: column;
    gap: var(--np-cell-left-gap);
    word-break: break-word;
  }

  &__right {
    display: flex;
    flex-direction: row;
    gap: var(--np-cell-right-gap);
    align-items: center;
  }

  &__icon {
    display: flex;
    align-items: center;

    img,
    svg {
      width: 1em;
      height: 1em;
      cursor: default;
      user-select: none;
    }
  }

  &__description,
  &__value {
    font-size: calc(var(--np-cell-font-size) - 2px);
    color: var(--np-cell-value-color);
  }

  &__arrow {
    font-size: var(--np-cell-font-size);
    color: var(--np-cell-value-color);
  }

  &__footer {
    grid-row: 2;
    grid-column: 2;
    min-width: 0;
    padding-bottom: var(--np-cell-padding-y);
  }
}
