.np-table__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 12px;

  &-left,
  &-right {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;

    &-button {
      aspect-ratio: 1/1;
      padding: 0;
      border: var(--n-border) !important;
      opacity: 0.75;

      --n-color: rgb(46 51 56 / 0%) !important;

      &:hover {
        opacity: 1;
      }
    }
  }
}
