@import './header.scss';
@import './footer.scss';

.np-table {
  --np-table-gap: 8px;
  --np-table-padding: 16px;

  &__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: var(--np-table-padding);

    &-left,
    &-right {
      display: flex;
      flex-direction: row;
      gap: var(--np-table-gap);
      align-items: center;
    }
  }

  &__operation {
    display: flex;
    flex-direction: row;
    align-items: center;

    &-button {
      aspect-ratio: 1/1;
      padding: 0;

      --n-color: rgb(46 51 56 / 0%) !important;
      --n-color-focus: var(--n-color) !important;
      --n-text-color-focus: var(--n-text-color) !important;

      svg {
        height: 100%;
      }
    }

    &-dropdown {
      min-width: 100px;
    }
  }
}
