@import './option.scss';

.np-filter {
  &.n-popover {
    --n-padding: 0 !important;
  }

  &__category {
    display: flex;
    flex-direction: column;
    min-width: 140px;
    padding: 4px 0;
    user-select: none;

    .np-cell {
      padding: 0 4px 0 8px;
    }

    &-item {
      padding: 0 4px;

      &-clear {
        cursor: pointer;
      }
    }
  }
}
